body{
    background-color: #a6a6a6;
    }
    h1{
    color:#3a312c;
    text-align: center;
    text-decoration-line: underline;
    font-family: sans-serif;
    }
    p{
    color:#3a312c;
    text-align: left;
    font-family: sans-serif;
    }